[Unit]
Description=pawns watchdog (헬스체크 1회 실행)
Documentation=https://github.com/potados99/proxyware-cli
After=pawns.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pawns-watchdog.sh
