[Unit]
Description=pawns (대역폭 공유)
Documentation=https://github.com/potados99/proxyware-cli
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
EnvironmentFile=/etc/default/pawns
Environment=HOME=/tmp
ExecStart=/usr/local/bin/pawns \
    -email=${EMAIL} \
    -password=${PASSWORD} \
    -device-name=${DEVICE_NAME} \
    -device-id=${DEVICE_ID} \
    -accept-tos
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
