[Unit]
Description=repocket (대역폭 공유)
Documentation=https://github.com/potados99/proxyware-cli
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
EnvironmentFile=/etc/default/repocket
WorkingDirectory=/opt/repocket/app
ExecStart=/opt/repocket/node dist/index.js
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
